<div class="portrait-wrapper">
    <div class="portrait-name {{#if isEnemy}}enemy{{else}}ally{{/if}}">{{name}}</div>
    <div class="portrait-img {{#if isEnemy}}enemy{{else}}ally{{/if}}" style="background-image: url('{{img}}')"></div>
    <div style="portrait-resources-wrapper">
        <div class="resource-bar resource-bar-container {{#if isEnemy}}enemy{{else}}ally{{/if}}">
            <div class="resource-hp" style="width:{{resources.hp.percent}}%;"></div>
            <div class="resource-bar-text">{{resources.hp.value}}/{{resources.hp.max}}</div>
        </div>
        {{#if isAlly}}
        <div class="resource-bar-container {{#if isEnemy}}enemy{{else}}ally{{/if}}">
            <div class="resource-bar resource-mp" style="width:{{resources.mp.percent}}%;"></div>
            <div class="resource-bar-text">{{resources.mp.value}}/{{resources.mp.max}}</div>
        </div>
        <div class="resource-bar resource-bar-container {{#if isEnemy}}enemy{{else}}ally{{/if}}">
            <div class="resource-ip" style="width:{{resources.ip.percent}}%;"></div>    
            <div class="resource-bar-text">{{resources.ip.value}}/{{resources.ip.max}}</div>
        </div>
        {{/if}}
    </div>
</div>
